/*
mailcow API

mailcow is complete e-mailing solution with advanced antispam, antivirus, nice UI and API.  In order to use this API you have to create a API key and add your IP address to the whitelist of allowed IPs this can be done by logging into the Mailcow UI using your admin account, then go to Configuration > Access > Edit administrator details > API. There you will find a collapsed API menu.  There are two types of API keys   - The read only key can only be used for all get endpoints   - The read write key can be used for all endpoints

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mailcowsdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CrossOriginResourceSharingCORSAPIService CrossOriginResourceSharingCORSAPI service
type CrossOriginResourceSharingCORSAPIService service

type ApiEditCrossOriginResourceSharingCORSSettingsRequest struct {
	ctx context.Context
	ApiService *CrossOriginResourceSharingCORSAPIService
	editCrossOriginResourceSharingCORSSettingsRequest *EditCrossOriginResourceSharingCORSSettingsRequest
}

func (r ApiEditCrossOriginResourceSharingCORSSettingsRequest) EditCrossOriginResourceSharingCORSSettingsRequest(editCrossOriginResourceSharingCORSSettingsRequest EditCrossOriginResourceSharingCORSSettingsRequest) ApiEditCrossOriginResourceSharingCORSSettingsRequest {
	r.editCrossOriginResourceSharingCORSSettingsRequest = &editCrossOriginResourceSharingCORSSettingsRequest
	return r
}

func (r ApiEditCrossOriginResourceSharingCORSSettingsRequest) Execute() (*http.Response, error) {
	return r.ApiService.EditCrossOriginResourceSharingCORSSettingsExecute(r)
}

/*
EditCrossOriginResourceSharingCORSSettings Edit Cross-Origin Resource Sharing (CORS) settings

This endpoint allows you to manage Cross-Origin Resource Sharing (CORS) settings for the API. CORS is a security feature implemented by web browsers to prevent unauthorized cross-origin requests. By editing the CORS settings, you can specify which domains and which methods are permitted to access the API resources from outside the mailcow domain.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEditCrossOriginResourceSharingCORSSettingsRequest
*/
func (a *CrossOriginResourceSharingCORSAPIService) EditCrossOriginResourceSharingCORSSettings(ctx context.Context) ApiEditCrossOriginResourceSharingCORSSettingsRequest {
	return ApiEditCrossOriginResourceSharingCORSSettingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CrossOriginResourceSharingCORSAPIService) EditCrossOriginResourceSharingCORSSettingsExecute(r ApiEditCrossOriginResourceSharingCORSSettingsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrossOriginResourceSharingCORSAPIService.EditCrossOriginResourceSharingCORSSettings")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/edit/cors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.editCrossOriginResourceSharingCORSSettingsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
